body {
    overflow: hidden;
    margin: 0;
    font-family: Inter;
    color: white;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.menu-bar {
    padding: 0;
    margin: 0;
    background: #444;
    list-style: none;
    display: flex;
}

.menu-bar > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.75em;
    width: 4em;
    padding: 0.25em;
    position: relative;
}

.dropdown {
    list-style: none;
    display: none;
    background: #555;
    z-index: 999;
    position: absolute;
    padding: 0;
    overflow: hidden;
    top: 100%;  /* Position the dropdown below the parent li */
    left: 0;
    width: 15em;
}

.dropdown > li {
    height: 2.75em;
    display: flex;
    align-items: center;
    padding: 0.25em;
    background-color: #222;
}


.menu-bar > li:hover, .dropdown > li:hover  {
    background: #333;
}

.menu-bar > li:hover .dropdown {
    display: block;
}

  
.lower-panes {
    display: flex;
    height: calc(100vh - 3em); /* Subtract top pane height */
}
  
.render-container {
    width: 80%;
    height: 100vh;

}
  
.left-pane, .right-pane {
    width: 20%;
    height: 100vh;
    background-color: #555;
}

.scene-name {
    font-size: 20px;
    padding-top: 5px;
}

.draggable {
    height: inherit;
    width: 5%;
    cursor: col-resize;
}

.scene-hierarchy-container {
    display: flex;
    justify-content: center;
    
}

.scene-hierarchy {
    height: auto;
    width: 95%;
    margin: 0;
    background-color: #444;
}

#scene-children {
    padding: 0;
    margin: 0;
}

#scene-children > li {
    list-style: none;
    margin: 0;
}

#scene-children > li:hover, #scene-children > li:active {
    background-color: #222;
}
